@import './variables.scss';

@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700');

body {
  font-family: $page-font;
}
.skills-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}
.skills__title {
  color: #573975;
}
.skill-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio {
  background: teal;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;

  p,
  h2 {
    margin: 0;
  }
}

.portfolio__grid--left {
  .portfolio__item {
    margin-top: 50px;
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.portfolio__grid--right {
  margin-top: 100px;

  .portfolio__item {
    margin-top: 50px;
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.portfolio__item {
  position: relative;

  img {
    margin: 0;
    height: auto;
    width: 100%;
  }

  header {
    top: -25px;
    position: relative;
    width: 100%;
  }
}
