@import './variables.scss';

.portfolio {
  background-color: $blue-tree;
  padding: 100px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;

  p,
  h2 {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    grid-template-columns: 1fr;
  }
}
